* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.rounded {
    border-radius: 15px;
}

.content {
    background-color: white;
}

.content form {
    text-align: center;
}

.goodBtn, .badBtn {
    margin-top: 1em;
    width: 45%;
    padding: 15px;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.goodBtn {
    background: #1dd1a1;
    float: right;
}

.badBtn {
    background: #ff6b6b;
    float: left;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

main {
    margin-top: 10%;
    margin-bottom: 10%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}