body{
    background-image: url("/images/FireAndMoney.jpg");
}

html, body{
    margin: 0 !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 5px;
    border-left: 5px;
}

li {
    display: inline;
}

.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: red;
    border: 0px;
    line-height: 70px;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}